.options-page {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 2;
    margin-block: 15px;
    width: 75%;
}

.options-desc {
    text-align: center;
    margin-bottom: 25px;
}

.user-register-dropdowns {
    display: flex;
    justify-content: space-between;
}

.theme-dropdown {
    padding: 10px;
    border-radius: 5px;
}

.theme-head {
    font-weight: bold;
    margin-right: 15px;
}

.theme-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    width: fit-content;
}

.theme-head-container {
    display: flex;
    cursor: pointer;
}

.theme-option {
    font-weight: bold;
    display: flex;
    align-items: center;
}

.theme-option-container {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
}

.theme-dropdown {
    margin-bottom: 15px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.theme-square {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin-right: 15px;
    box-shadow: 2px 5px 10px rgba(22, 22, 22, 0.349);
}

#dark-option {
    background-color: black;
    border: 3px solid white;
}
  
#light-option {
    background-color: white;
    border: 3px solid black;
}

#artic-option {
    background-color: rgb(133, 218, 244);
    border: 3px solid rgb(3, 9, 73);
}

#forest-option {
    background-color: rgb(0, 39, 12);
    border: 3px solid rgb(251, 248, 163);
}

#azure-option {
    background-color: rgb(0, 142, 251);
    border: 3px solid rgb(37, 20, 0);
}

.deleteForm {
    margin-top: 5%;
}

#select-theme {
    display: flex;
    flex-direction: column;
    min-width: 500px;
}

.options-btn {
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
}

#user-delete-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 65px;
    width: 20vw;
    z-index: 0;
}

.delete-prompt {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 2px 5px 10px rgba(22, 22, 22, 0.349);
}

.delete-options {
    margin-top: 15px;
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.delete-btn {
    font-weight: bold;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}

.layout-selection {
    display: flex;
    flex-direction: column;
    margin-inline: 15px;
    position: absolute;
    left: 52%;
    border-radius: 5px;
    padding-bottom: 5px;
}

.layout-prompt-container {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding-block: 5px;
    padding-inline: 10px;
    border-radius: 5px;
    width: 165px;
    cursor: pointer;
}

.layout-options {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 55%;
    height: fit-content;
    margin-inline: 15px;
}

.layout-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    padding-inline: 5px;
    border-radius: 5px;
}

.layout-option img {
    height: 35px;
    width: 35px;
    margin-right: 7px;
}

.option-hidden {
    visibility: hidden;
    height: 0;
    width: 0;
    padding: 0;
}

.options-button-container {
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin-top: 85px;
}

.customize-page-desc {
    margin-block: 15px;
    text-align: center;
}
