/* Base Elements */

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a { color: inherit; } 

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100vw;
  min-height: 100vh;
}

header {
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 5px 10px rgba(22, 22, 22, 0.857);
  margin-bottom: 15px;
}

main {
  display: flex;
  justify-content: space-between;
  margin-inline: 100px;
  min-height: 80vh;
  z-index: 2;
}

.hidden {
  visibility: collapse;
}

.visible {
  visibility: visible;
}

.welcome {
  margin-left: 5%;
}

.welcome > a {
  font-weight: bold;
}

/* Settings */

.settings-icon {
  margin-right: 135px;
  cursor: pointer;
}

.settings-dropdown {
  position: absolute;
  top: 10vh;
  right:95px;
  width: 115px;
  background-color: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 1px 5px 5px rgba(22, 22, 22, 0.248);
  z-index: 3;
}

.settings-icon img {
  width: 35px;
}

.options-list {
  height: fit-content;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
  margin-left: 20%;
}

.option-item {
  cursor: pointer;
  margin-bottom: 5px;
}

.option-item a {
  text-decoration: none;
}


/* Themes */

.dark {
  background-color: black;
  color: white;
  transition: 0.3s;
}

#dark-selected {
  background-color: white;
  color: black;
}

.dark-accent {
  background-color: rgb(34, 34, 34);
  color: white;
}

.dark:hover {
  background-color: rgb(3, 3, 3);
}

.dark-hovered {
  background-color: rgb(3, 3, 3);

}

.light {
  background-color: rgb(245, 245, 245);
  color: black;
  transition: 0.3s;
}

#light-selected {
  background-color: black;
  color: rgb(245, 245, 245);
}

.light-accent {
  background-color: rgb(209, 209, 209);
  color: black;
}

.light:hover {
  background-color: white;
}

.light-hovered {
  background-color: white;

}

.artic {
  background-color: rgb(133, 218, 244);
  color: rgb(3, 9, 73);
  transition: 0.3s;
}

#artic-selected {
  background-color: rgb(3, 9, 73);
  color: rgb(133, 218, 244);
}

.artic-accent {
  background-color: rgb(255, 255, 255);
  color: rgb(3, 9, 73);
}

.artic:hover {
  background-color: rgb(115, 210, 239);
}

.artic-hovered {
  background-color: rgb(115, 210, 239);
}

.forest {
  background-color: rgb(0, 39, 12);
  color: rgb(251, 248, 163);
  transition: 0.3s;
}

#forest-selected {
  background-color: rgb(251, 248, 163);
  color: rgb(0, 39, 12);
}

.forest-accent {
  background-color: rgb(82, 142, 110);
  color: rgb(0, 0, 0);
}

.forest:hover {
  background-color: rgb(0, 50, 15);
}

.forest-hovered {
  background-color: rgb(0, 50, 15);
}

.azure {
  background-color: rgb(0, 136, 239);
  color: rgb(37, 20, 0);
}

#azure-selected {
  background-color: rgb(37, 20, 0);
  color: rgb(0, 136, 239);
}

.azure-accent {
  background-color: rgb(0, 54, 180);
  color: #ffffff;
}

.azure:hover {
  background-color: rgb(0, 142, 251);
}

.azure-hovered {
  background-color: rgb(0, 142, 251);
}

/* Layout */

.basic {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-wrap: wrap;
}

.card-child {
  margin-right: 15px;
  max-width: 25%;
  height: fit-content;
  box-shadow: 2px 5px 10px rgba(22, 22, 22, 0.857);
  height: fit-content;
}

.img-card-view {
  height: 125px;
}

.compose-link {
  display: flex;
  text-decoration: none;
  font-weight: bold;
  margin-top: 15px;
}

.compose-link img {
  margin-right: 15px;
}

/* Footer */

footer {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attribution {
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 15px;
}

.social-links {
  margin-block: 10px;
  display: flex;
  justify-content: space-between;
  width: 10%;
}

.social-link img {
  height: 35px;
  width: 35px;
}

.message {
  text-align: center;
  margin-block: 10px;
}

.logo {
  margin-top: 15px;
  border-radius: 50%;
  height: 75px;
  overflow: hidden;
  background-color: white;
  padding: 5px;
  border: 3px solid black;
  box-shadow: 2px 5px 10px rgba(22, 22, 22, 0.857);
}

.logo img {
  height: 75px;
}

@media only screen and (max-width: 900px) {
  .App {
    justify-content: flex-start;
  }
  
  main {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-inline: 0;
  }

  .settings-icon {
    margin-right: 5%;
  }

  .settings-dropdown {
    position: absolute;
    right: 2.3vw;
    width: 96vw;
  }

  .attribution {
    text-align: center;
    margin-top: 15px;
  }

  footer {
    margin-top: 15px;
  }

  .card-child {
    height: fit-content;
  }

  .social-links {
    margin-bottom: 15px;
    width: 50%;
  }

  .article-content {
    height: fit-content;
  }

  .img-container {
    width: 97%;
    height: fit-content;
  }

  .article-name {
    text-align: center;
    width: 100%;
  }

  .article-img {
    width: 100%;
    height: fit-content;
  }

  .options-list {
    text-align: center;
    margin-left: unset;
  }

  .option-item {
    font-size: 1.25em;
  }

}